.modal.show .modal-dialog {
  width: auto !important;
  max-width: none !important;
  display: inline-block !important;
}

.modal.show .modal-content {
  width: auto !important;
  display: inline-block !important;
}
.modal-content {
  width: auto !important;
  display: inline-block !important;
}
.modal-dialog-scrollable .modal-content {
    width: fit-content !important;
}
.modal-dialog {
  max-width: 90vw !important;
}

.modal-content {
  overflow-x: auto;
}